.auth-form {
    width: 40rem;
    max-width: 80%;
    padding-top: 10vh;
    margin: auto;
    
   
    
}
.back{
    
    height:100vh;
    background:url('./Img/wall2.jpg');
    background-size:cover;
    
    
}

