 .tables_list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #7b61f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tables_list-item h1 {
      margin: 0;
      font-size: 1.5rem;
      color: #7b61f8;
  }

  .tables_list-item h2 {
      margin: 0;
      font-size: 1rem;
      color: #a18ffa;
  }

  .tables_list-item p {
      margin: 0;

  }